%section.register.container
  .row
    .col-sm-8
      .form-horizontal
        = bootstrap_form_for @user do |f|
          %header
            %h3 Sign up.
          %fieldset
            .col-sm-6
              = f.text_field :email, label: "Email"
              = f.password_field :password, label: "Password"
              = f.password_field :password_confirmation, label: "Confirm Password"      
              = f.text_field :name , label: "Display Name"
          %fieldset.actions.control-group
            .controls
              = f.submit(@user.new_record? ? 'Register' : 'Update Profile', class: 'btn btn-success') 