%h4 Not Watched
- @unwatched_casts.each do |cast|
  = cast.episode
  = cast.title

  = link_to image_tag('notwatched.png'), cast_path(cast, cast: {watched: true}), method: :put
  
  %br
  

%h4 Watched
- @watched_casts.each do |cast|
  = cast.episode
  = cast.title

  = link_to image_tag('watched.png'), cast_path(cast, cast: {watched: false}), method: :put
  
  %br

    
    
    